<div class="content">
    <h3 class="email-form-title">{{'HOME_INPUT.TITLE' | translate}}</h3>
    <form class="contac-form email-form d-flex" [formGroup]="signUpForm">
        <div clas="email-form-lockup">
            <ul>
                <li>
                    <div class="label-float">
                        <input type="email" placeholder=" " name="email" class="email-input pl-2" tabindex="0"
                        formControlName='email'  autocomplete="email"/>
                        <label>Email</label>
                    </div>
                    <app-err-msg *ngIf="!signUpForm.valid" fieldName="email"
                    [control]="signUpForm.get('email')"></app-err-msg>
                </li>
            </ul>
        </div>
        <span>
            <button (click)="submit()" class="btn" type="button">
                <span id="" class="cta-btn-txt"> {{'HOME_INPUT.SUBMIT_BTN' | translate}}
                    &gt;</span>
            </button>
        </span>
    </form>
</div>
