<div class="content">
  <div class="first-section w-100 min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-nav nav-bar">
      <a class="navbar-brand" href="#">
        <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="logo" class="logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav nav-links ">
          <a class="nav-link active" href="#"><strong>Início</strong></a>
          <a class="nav-link active" href="#">Filmes</a>
          <a class="nav-link active" href="#">Bombando</a>
          <a class="nav-link active">Minha Lista</a>
        </div>
      </div>
      <form class="form-inline form-size">
        <input class="form-control mr-sm-2 input-search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn my-2 my-sm-0 btn-search"><i class="fa-solid fa-magnifying-glass search-icon"></i></button>
        <span><i class="fa-solid fa-bell btn-bell"></i></span>
        <i class="fa-solid fa-user btn-user"></i>
      </form>
    </nav>
    <div class="d-flex flex-column texto-filme">
      <span class="titulo-filme">MORADOR INDESEJADO</span>
      <h1 class="lançamento-filme">O lançamento é em Março</h1>
      <span class="sinopse">Vigaristas violentos, assassinos frios e calculistas: veja nesta série alguns moradores com quem você não vai querer dividir a casa.</span>
      <div class="button-div">
        <button class="button-trailer"><i class="fa-solid fa-play icon-trailer"></i>Trailer</button>
        <button class="button-plus"><i class="fa-solid fa-info icon-plus"></i>Mais Informações</button>
      </div>
    </div>
  </div>
</div>