.content{
  background: #0a0a0a;
  overflow-x: hidden;
}

.first-section {
    background-image: linear-gradient(to bottom, transparent 0%, rgb(0, 0, 0)),
    url("https://www.themoviedb.org/t/p/original/2Sm3asuwKVNTzgm2nF6hp5mwEfh.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.texto-filme {
    margin-top: 30px;
    width: 500px;
    margin-left: 60px;
    color: #fff;
}

.titulo-filme {
    font-family: Montserrat;
    line-height: 90px;
    font-size: 100px;
    font-weight: 700;
    margin-top: 50px;
}

.lançamento-filme {
    margin: 20px 0px;
    font-size: 1.6rem;
}

.sinopse {
    color: #fff;
    font-weight: 400;
    line-height: normal;
    width: 100%;
    font-size: 1.2rem;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, .45);
}

button{
    margin-top: 15px;
}

.button-div{
    display: flex;
}
.button-trailer{
    width: 150px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 5px;
    margin-right: 30px;
}
.button-trailer:hover{
    opacity: 0.7;
}

.button-plus{
    display: flex;
    align-items: center;
    width: 250px;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 5px;
    justify-content: center;
}

.button-plus:hover{
    opacity: 0.7;
}

.icon-trailer{
    margin-right: 20px;
}

.icon-plus{
    margin-right: 5px;
}

.icon-plus{
    font-size: 1.2rem;
    width: 30px;
    height: 30px;
    border: 3px solid black;
    border-radius: 20px;
}

.filmes-div{
    margin-top: -180px;
}

.filmes-card{
    margin-bottom: 50px;
}

.detail-modal{
  position: fixed;
  z-index: 100001;
}

