<div class="content">
  <div class="w-100 min-vh-100">
    <app-header></app-header>
    <div class="first-section">
      <div class="d-flex flex-column texto-filme">
        <span class="titulo-filme">{{'PRIVATE_HOME.MOVIE_TITLE' | translate}}</span>
        <h1 class="lançamento-filme"> {{'PRIVATE_HOME.MOVIE_RELEASE' | translate}} </h1>
        <span class="sinopse">
          {{'PRIVATE_HOME.MOVIE_SINOPSE' | translate}}
        </span>
        <div class="button-div">
          <button class="button-trailer" (click)="mainMovieClick()" data-toggle="modal" data-target="#modalMovie">
            <i class="fa-solid fa-play icon-trailer"></i>Trailer</button>
          <button class="button-plus" (click)="mainMovieClick()" data-toggle="modal" data-target="#modalMovie">
            <i class="fa-solid fa-info icon-plus mr-3"></i>
            {{'PRIVATE_HOME.MOVIE_INFO' | translate}}
          </button>
        </div>
      </div>
    </div>
    <div class="filmes-div">
      <div class="filmes-card">
        <app-cards-slider (cardAtivado)="onCardAtivado($event)" cardExibido={{cardVisto}}
          [title]="'PRIVATE_HOME.TOP_RATED_MOVIES' | translate" genre="topRated"
          (moreClicked)="onMoreClicked($event)"></app-cards-slider>
      </div>
      <div *ngFor="let genre of generos" class="filmes-card">
        <app-cards-slider (cardAtivado)="onCardAtivado($event)" cardExibido={{cardVisto}} title={{genre.name}}
          genre={{genre.id}} type="genre" (moreClicked)="onMoreClicked($event)"></app-cards-slider>
      </div>
    </div>
  </div>
  <app-details-click *ngIf="showDetails"  [movieId]="movieClickedId" class="detail-modal"></app-details-click>
  <app-rodape></app-rodape>
</div>
