<div class="content">
  <div class="first-section">
    <nav class="navbar navbar-light bg-transparent position-fixed px-5">
      <a class="navbar-brand" href="#">
        <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="" class="logo">
      </a>
      <p style="color: #fff; font-size: 50px;">Tentativa de pull request</p>
    </nav>
    <img src="https://assets.nflxext.com/ffe/siteui/vlv3/ed0b5df9-ba9d-4534-bd09-57993daeda56/52609230-dd78-4dba-82a1-8bb3ac3803e6/BR-pt-20220214-popsignuptwoweeks-perspective_alpha_website_medium.jpg"
    alt="" class="background">
  </div>
</div>
