<div class="content">
  <div class="first-section w-100">
    <nav class="navbar navbar-light px-5 py-3 w-100">
      <a class="navbar-brand">
        <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="logo" class="logo">
      </a>

      <ul class="nav justify-content-end">
        <li class="nav-item mr-3">
          <select class="form-control form-control-sm text-light bg-transparent" #selectedLanguage
            (click)="useLanguage(selectedLanguage.value)">
            <option class="bg-dark" value="pt-br">{{'PUBLIC_HOME.PT_OPTION' | translate}}</option>
            <option class="bg-dark" value="en">{{'PUBLIC_HOME.EN_OPTION' | translate}}</option>
          </select>
        </li>
        <li class="nav-item">
          <button type="button" class="btn btn-danger" (click)="navigateLogin()">
            {{'PUBLIC_HOME.LOGIN_BTN'| translate}}
          </button>
        </li>
      </ul>
    </nav>

    <div class="text-apresentation d-flex flex-column justify-content-center align-items-center">
      <div class="text-light text-center">
        <h1 class="display-4" [innerHTML]="'PUBLIC_HOME.TITLE' | translate"></h1>
        <h4>{{'PUBLIC_HOME.SUBTITLE'| translate}}</h4>
      </div>
      <app-home-input></app-home-input>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div class="text-group text-light col-xl-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>{{'PUBLIC_HOME.FIRST_SECTION_TITLE'| translate}}</strong></h1>
          <h4>{{'PUBLIC_HOME.FIRST_SECTION_PARAGRAPH'| translate}}</h4>
        </div>
      </div>

      <div class="animation-tv d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" alt="tv">
        <video src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v" autoplay
          muted playsinline loop class="position-absolute"></video>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div class="animation-download d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg" alt="mobile"
          class="mobile">
        <div class="mini-gif-group p-3 position-absolute d-flex justify-content-center align-items-center">
          <div class="d-flex align-items-center mr-2">
            <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png" alt="poster"
              class="poster mr-2">
            <div class="text">
              <p class="text-light mb-0">Stranger Things</p>
              <p class="mb-0 text-primary"> {{'PUBLIC_HOME.MOVIE_DOWNLOAD' | translate}}</p>
            </div>
          </div>
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif" alt="gif"
            class="gif">
        </div>
      </div>

      <div class="text-group text-light col-xl-6 d-flex justify-content-center align-items-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>{{'PUBLIC_HOME.SECOND_SECTION_TITLE' | translate}}</strong></h1>
          <h4>{{'PUBLIC_HOME.SECOND_SECTION_PARAGRAPH' | translate}}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div class="text-group text-light col-xl-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>{{'PUBLIC_HOME.THIRD_SECTION_TITLE' | translate}}</strong></h1>
          <h4>{{'PUBLIC_HOME.THIRD_SECTION_PARAGRAPH' | translate}}</h4>
        </div>
      </div>

      <div class="animation-desktop d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png"
          alt="desktop">
        <video src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v" autoplay
          muted playsinline loop class="position-absolute"></video>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100 d-flex justify-content-center align-items-center">
    <div class="row justify-content-center">
      <div class="kids-group d-flex justify-content-center align-items-center col-xl-6">
        <img
          src="https://occ-0-1311-185.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABUb4fcnETtielPJer_ORwZ2iUanycANl37cr81zDaXC9Fmg9c42ofxt0yxetNltG2xUMgf2Aqimz_q1Nsv-38Ng_EjIc.png?r=1b8"
          alt="cartoon">
      </div>

      <div class="text-group text-light col-xl-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>{{'PUBLIC_HOME.FOURTH_SECTION_TITLE' | translate}}</strong></h1>
          <h4>{{'PUBLIC_HOME.FOURTH_SECTION_PARAGRAPH' | translate}}</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100 d-flex justify-content-center flex-column" data-toggle="collapse">
    <div class="d-flex align-items-center justify-content-center flex-column">
      <div style="margin-bottom:30px;">
        <h1 style="color:#fff; font-size: 50px;">
          <strong>
            {{'PUBLIC_HOME.ACCORDIONS_TITLE' | translate}}
          </strong>
        </h1>
      </div>
      <div class="toggle-bar">
        <div class="accordion" id="accordionExample">
          <div class="card">
            <div class="card-header" id="headingOne" >
              <h2 class="mb-0 d-flex">
                <button class="btn d-flex btn-block btn-toggle justify-content-between collapsed" type="button" data-toggle="collapse"
                  data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne" #botão>
                  <span class="">{{'PUBLIC_HOME.FIRST_ACCORDION_TITLE' | translate}}</span>
                  <button class="plus-Button">+</button>
              </button>
              </h2>
            </div>

            <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <span>
                  {{'PUBLIC_HOME.FIRST_ACCORDION_PARAGRAPH' | translate}}
                </span>
              </div>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-header" id="headingTwo">
              <h2 class="mb-0 d-flex">
                <button class="btn d-flex btn-block btn-toggle justify-content-between collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <span class="">{{'PUBLIC_HOME.SECOND_ACCORDION_TITLE' | translate}}</span>
                  <button class="plus-Button2">+</button>
              </button>
              </h2>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
              <div class="card-body">
                <span>
                  {{'PUBLIC_HOME.SECOND_ACCORDION_PARAGRAPH' | translate}}
                </span>
              </div>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-header" id="headingThree">
              <h2 class="mb-0 d-flex">
                <button class="btn d-flex btn-block btn-toggle justify-content-between collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                  aria-controls="collapseThree">
                <span>{{'PUBLIC_HOME.THIRD_ACCORDION_TITLE' | translate}}</span>
                <button class="plus-Button3">+</button>
              </button>
              </h2>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
              <div class="card-body">
                <span>
                  {{'PUBLIC_HOME.THIRD_ACCORDION_PARAGRAPH' | translate}}
                </span>
              </div>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-header" id="headingFour">
              <h2 class="mb-0 d-flex">
                <button class="btn d-flex btn-block btn-toggle justify-content-between collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseFour" aria-expanded="false"
                  aria-controls="collapseFour">
                  <span>{{'PUBLIC_HOME.FOURTH_ACCORDION_TITLE' | translate}}</span>
                  <button class="plus-Button4">+</button>
              </button>
              </h2>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
              <div class="card-body">
                <span>
                  {{'PUBLIC_HOME.FOURTH_ACCORDION_PARAGRAPH' | translate}}
                </span>
              </div>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-header" id="headingFive">
              <h2 class="mb-0 d-flex">
                <button class="btn d-flex btn-block btn-toggle justify-content-between collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseFive" aria-expanded="false"
                  aria-controls="collapseFive">
                  {{'PUBLIC_HOME.FIFTH_ACCORDION_TITLE' | translate}}
                  <button class="plus-Button5">+</button>
                </button>
              </h2>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
              <div class="card-body">
                <span>
                  {{'PUBLIC_HOME.FIFTH_ACCORDION_PARAGRAPH' | translate}}
                </span>
              </div>
            </div>
          </div>
          <div class="card mt-2">
            <div class="card-header" id="headingSix">
              <h2 class="mb-0 d-flex">
                <button class="d-flex btn btn-block btn-toggle justify-content-between collapsed" type="button"
                  data-toggle="collapse" data-target="#collapseSix" aria-expanded="false"
                  aria-controls="collapseSix">
                  {{'PUBLIC_HOME.SIXTH_ACCORDION_TITLE' | translate}}
                  <button class="plus-Button6">+</button>
                </button>
              </h2>
            </div>
            <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
              <div class="card-body">
                <span>
                  {{'PUBLIC_HOME.SIXTH_ACCORDION_PARAGRAPH' | translate}}
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="mt-4">
        <app-home-input></app-home-input>
      </div>
    </div>
  </div>
  <div class="rodape-section mt-2 p-5">
    <app-rodape></app-rodape>
  </div>
</div>
