<div class="content">
  <nav class="navbar navbar-light bg-transparent position-absolute px-5 py-3 w-100">
    <a class="navbar-brand" href="#">
      <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="logo" class="logo">
    </a>

    <ul class="nav justify-content-end">
      <li class="nav-item mr-3">
        <select class="form-control form-control-sm text-light bg-transparent">
          <option>Português</option>
          <option>Inglês</option>
        </select>
      </li>
      <li class="nav-item">
        <button type="button" class="btn btn-danger">Entrar</button>
      </li>
    </ul>
  </nav>

  <div class="first-section d-flex align-items-center justify-content-center w-100 min-vh-100">
    <div class="text-apresentation text-light text-center d-flex align-items-center">
      <div>
        <h1 class="display-4"><strong>Filmes, séries e muito mais. <br>Sem limites.</strong></h1>
        <h4>Assista onde quiser. Cancele quando quiser.</h4>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100">
    <div class="row justify-content-center">
      <div class="text-group text-light col-xl-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>Aproveite na TV.</strong></h1>
          <h4>Assista em Smart TVs, PlayStation, Xbox, Chromecast, Apple TV, aparelhos de Blu-ray e outros dispositivos.</h4>
        </div>
      </div>

      <div class="animation-tv d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/tv.png" alt="tv">
        <video src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-tv-0819.m4v"
        autoplay muted playsinline loop class="position-absolute"></video>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100">
    <div class="row justify-content-center">
      <div class="animation-download d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/mobile-0819.jpg" alt="mobile"
        class="mobile">
        <div class="mini-gif-group p-3 position-absolute d-flex justify-content-center align-items-center">
          <div class="d-flex align-items-center mr-2">
            <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/boxshot.png" alt="poster"
            class="poster mr-2">
            <div class="text">
              <p class="text-light mb-0">Stranger Things</p>
              <p class="mb-0 text-primary"> Download em andamento...</p>
            </div>
          </div>
          <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/download-icon.gif" alt="gif"
          class="gif">
        </div>
      </div>

      <div class="text-group text-light col-xl-6 d-flex justify-content-center align-items-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>Baixe séries para assistir offline.</strong></h1>
          <h4>Salve seus títulos favoritos e sempre tenha algo para assistir.</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100">
    <div class="row justify-content-center">
      <div class="text-group text-light col-xl-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>Assista quando quiser.</strong></h1>
          <h4>Assista no celular, tablet, Smart TV ou notebook sem pagar a mais por isso.</h4>
        </div>
      </div>

      <div class="animation-desktop d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/device-pile.png" alt="desktop">
        <video src="https://assets.nflxext.com/ffe/siteui/acquisition/ourStory/fuji/desktop/video-devices.m4v"
        autoplay muted playsinline loop class="position-absolute"></video>
      </div>
    </div>
  </div>

  <div class="features-section mt-2 p-5 w-100">
    <div class="row justify-content-center">
      <div class="kids-group d-flex justify-content-center align-items-center col-xl-6">
        <img src="https://occ-0-1311-185.1.nflxso.net/dnm/api/v6/19OhWN2dO19C9txTON9tvTFtefw/AAAABUb4fcnETtielPJer_ORwZ2iUanycANl37cr81zDaXC9Fmg9c42ofxt0yxetNltG2xUMgf2Aqimz_q1Nsv-38Ng_EjIc.png?r=1b8" alt="cartoon">
      </div>

      <div class="text-group text-light col-xl-6 d-flex align-items-center justify-content-center">
        <div class="px-5">
          <h1 class="display-4 mb-4"><strong>Crie perfis para crianças.</strong></h1>
          <h4>Deixe as crianças se aventurarem com seus personagens favoritos em um espaço feito só para elas, sem pagar a mais por isso.</h4>
        </div>
      </div>
    </div>
  </div>
</div>
