<div class="d-flex justify-content-center align-items-center rodape">
    <div class="conteudo-rodape">
        <p class="footer-top" [innerHTML]="'FOOTER.PHONE' | translate"></p>
        <div class="site-footer d-flex">
            <ul class="footer-links">
                <li class="footer-link-item">
                    <a class="footer-link" href="https://help.netflix.com/support/412">
                        <span id="">
                          {{'FOOTER.FAQ' | translate}}
                        </span>
                    </a>
                </li>
                <li class="footer-link-item" placeholder="footer_responsive_link_help_item"><a class="footer-link"
                        data-uia="footer-link" href="https://help.netflix.com"
                        placeholder="footer_responsive_link_help"><span id="">
                          {{'FOOTER.HELP' | translate}}
                        </span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_account_item"><a class="footer-link"
                        data-uia="footer-link" href="/youraccount" placeholder="footer_responsive_link_account"><span
                            id=""> {{'FOOTER.ACCOUNT' | translate}} </span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_media_center_item"><a
                        class="footer-link" data-uia="footer-link" href="https://media.netflix.com/"
                        placeholder="footer_responsive_link_media_center"><span id="">
                          {{'FOOTER.MEDIA_CENTER' | translate}}
                        </span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_relations_item"><a class="footer-link"
                        data-uia="footer-link" href="http://ir.netflix.com/"
                        placeholder="footer_responsive_link_relations"><span id="">
                          {{'FOOTER.INVESTORS' | translate}}
                        </span></a>
                </li>
            </ul>

            <ul class="footer-links"  >
                <li class="footer-link-item" placeholder="footer_responsive_link_jobs_item"><a class="footer-link"
                        data-uia="footer-link" href="https://jobs.netflix.com/jobs"
                        placeholder="footer_responsive_link_jobs"><span id="">
                          {{'FOOTER.JOBS' | translate}}
                        </span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_gift_redeem_item"><a
                        class="footer-link" data-uia="footer-link" href="/redeem"
                        placeholder="footer_responsive_link_gift_redeem"><span id="">
                          {{'FOOTER.GIFT_REDEEM' | translate}}
                        </span></a>
                </li>
                <li class="footer-link-item" placeholder="footer_responsive_link_gift_buy_item"><a class="footer-link"
                        data-uia="footer-link" href="/gift-cards" placeholder="footer_responsive_link_gift_buy"><span
                            id=""> {{'FOOTER.BUY_GIFT' | translate}} </span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_waysToWatch_item"><a
                        class="footer-link" data-uia="footer-link" href="/watch"
                        placeholder="footer_responsive_link_waysToWatch"><span id="">
                          {{'FOOTER.WAYS_TO_WATCH' | translate}}
                        </span></a></li>
            </ul>

            <ul class="footer-links"  >
                <li class="footer-link-item" placeholder="footer_responsive_link_terms_item"><a class="footer-link"
                        data-uia="footer-link" href="https://help.netflix.com/legal/termsofuse"
                        placeholder="footer_responsive_link_terms"><span id="">
                          {{'FOOTER.TERMS' | translate}}
                        </span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_privacy_separate_link_item"><a
                        class="footer-link" data-uia="footer-link" href="https://help.netflix.com/legal/privacy"
                        placeholder="footer_responsive_link_privacy_separate_link"><span id="">
                          {{'FOOTER.PRIVACY' | translate}}
                        </span></a>
                </li>
                <li class="footer-link-item" placeholder="footer_responsive_link_cookies_separate_link_item"><a
                        class="footer-link" data-uia="footer-link" href="#"
                        placeholder="footer_responsive_link_cookies_separate_link"><span id="">
                          {{'FOOTER.COOKIES' | translate}}
                        </span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_corporate_information_item"><a
                        class="footer-link" data-uia="footer-link" href="https://help.netflix.com/legal/corpinfo"
                        placeholder="footer_responsive_link_corporate_information"><span id="">
                          {{'FOOTER.CORPORATE_INFORMATION' | translate}}
                        </span></a></li>
            </ul>

            <ul class="footer-links"  >
                <li class="footer-link-item" placeholder="footer_responsive_link_contact_us_item"><a class="footer-link"
                        data-uia="footer-link" href="https://help.netflix.com/contactus"
                        placeholder="footer_responsive_link_contact_us"><span id="">
                          {{'FOOTER.CONTACT_US' | translate}}
                        </span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_speed_test_item"><a class="footer-link"
                        data-uia="footer-link" href="https://fast.com"
                        placeholder="footer_responsive_link_speed_test"><span id="">
                          {{'FOOTER.SPEED_TEST' | translate}}
                        </span></a></li>
                <li class="footer-link-item" placeholder="footer_responsive_link_legal_notices_item"><a
                        class="footer-link" data-uia="footer-link" href="https://help.netflix.com/legal/notices"
                        placeholder="footer_responsive_link_legal_notices"><span id="">
                          {{'FOOTER.LEGAL_NOTICES' | translate}}
                        </span></a></li>
                <li class="footer-link-item originals-link" placeholder="footer_responsive_link_only_on_netflix_item"><a
                        class="footer-link" data-uia="footer-link" href="https://www.netflix.com/br/browse/genre/839338"
                        placeholder="footer_responsive_link_only_on_netflix"><span id="">
                          {{'FOOTER.ONLY_ON_NETFLIX' | translate}}
                        </span></a></li>
            </ul>
        </div>
        <div class="lang-selection-container">
            <div>
                <i class="fa-solid fa-globe icon"></i>
                <select class="options" #selectedLanguage (click)="useLanguage(selectedLanguage.value)">
                    <option value="pt-br">{{'FOOTER.PT_OPTION' | translate}}</option>
                    <option value="en">{{'FOOTER.EN_OPTION' | translate}}</option>
                </select>
            </div>
        </div>
        <p class="footer-country">{{'FOOTER.NETFLIX' | translate}}</p>
    </div>
</div>
