<div class="content">
  <div class="card-container w-100 min-vh-100 pb-5">
    <div class="logo-container p-4">
      <img src="https://www.freepnglogos.com/uploads/netflix-logo-0.png" alt="logo" class="logo"
        (click)="navigateHome()">
    </div>

    <div class="card mx-auto mt-5 pt-3">
      <div class="card-body col-md-10 mx-auto">
        <h2 class="card-title mb-4 text-light">{{'LOGIN.TITLE' | translate}}</h2>

        <form [formGroup]="form">

          <div class="alert bg-danger text-light" role="alert" *ngIf="logErr">
            {{'LOGIN.CREDENTIALS_ERR' | translate}}
          </div>

          <div class="form-group">
            <input type="text" class="form-control form-control-lg text-white" id="email"
            placeholder="Email" formControlName="email">

            <app-err-msg *ngIf="!form.valid" fieldName="email"
            [control]="form.get('email')"></app-err-msg>
          </div>
          <div class="form-group mb-5">
            <input type="password" class="form-control form-control-lg text-white" id="senha"
            [placeholder]="'LOGIN.PASSWORD_LABEL' | translate" autocomplete="off" formControlName="senha">

            <app-err-msg *ngIf="!form.valid" [fieldName]="'FIELD_NAMES.PASSWORD' | translate"
            [control]="form.get('senha')"></app-err-msg>
          </div>

          <button type="submit" class="btn btn-danger btn-lg w-100 mb-2"
          (click)="submit()" *ngIf="!loading">
            <strong>{{'LOGIN.TITLE' | translate}}</strong>
          </button>

          <button class="btn btn-danger btn-lg w-100 mb-2" type="button" disabled *ngIf="loading">
            <span class="spinner-border" role="status" aria-hidden="true"></span>
          </button>

          <div class="form-recurses d-flex justify-content-between">
            <div class="form-group form-check d-flex align-items-center">
              <input type="checkbox" class="form-check-input" id="remember" formControlName="remember">
              <label class="form-check-label" for="remember">
                <small class="form-text">{{'LOGIN.REMEMBER' | translate}}</small>
              </label>
            </div>

            <a href="https://www.netflix.com/br/LoginHelp" class="text-muted" target="blank">
              <small>{{'LOGIN.HELP' | translate}}</small>
            </a>
          </div>
        </form>

        <div class="face-conect d-flex mt-2">
          <img src="https://assets.nflxext.com/ffe/siteui/login/images/FB-f-Logo__blue_57.png"
          alt="facebook" class="face-logo mr-2">
          <small class="text-muted">{{'LOGIN.FACEBOOK' | translate}}</small>
        </div>

        <div class="signUp-call my-4">
          <h6 class="text-muted">{{'LOGIN.NEW' | translate}} <a href="" class="text-white"
            (click)="$event.preventDefault()" (click)="navigateHome()">
            {{'LOGIN.SIGN_UP' | translate}}</a></h6>
        </div>

        <div class="protect-info">
          <small class="d-block mb-3">
            {{'LOGIN.MORE_TEXT' | translate}}
            <a href="" *ngIf="!activeText" (click)="$event.preventDefault()"
            (click)="toogleText()" class="toggleBtn"> {{'LOGIN.MORE_BTN' | translate}} </a>
          </small>

          <small *ngIf="activeText" [innerHTML]="'LOGIN.ADDITIONAL_INFO' | translate"></small>
        </div>
      </div>
    </div>
  </div>
</div>
